* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background: rgb(75,174,195);
  background: linear-gradient(108deg, #4EBEFE 0%, #378FD9 100%);
  margin: 0 auto;
  padding-top: 62px;
  color: white;
}
.logo {
  max-width: 98px;
  margin-bottom: 10px;
}
.front {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.offer {
  max-width: 555px
}
.main-title {
  font-size: 37px;
  margin-bottom: 47px;
}
.add {
  font-size: 42px;
  font-weight: 700;
}
.main-description {
  max-width: 400px;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 44px;
}
.main-link {
  display: inline-block;
  background-color: #FFD429;
  color: black;
  padding: 23px 26px 21px 29px;
  text-decoration: none;
  font-weight: 700;
}
.next {
  padding-top: 90px;
  padding-bottom: 110px;
}
.section-title {
  text-align: center;
  margin-bottom: 70px;
}
.future-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.future-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-img {
  margin-bottom: 29px;
}
.item-title {
  margin-bottom: 17px;
}
.item-description {
  text-align: center;
}
.send {
  background-color: #ECF3F8;
  padding-top: 100px;
  padding-bottom: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input {
  padding: 17px 26px;
  margin-bottom: 14px;
  width: 340px;
}
.btn {
  border: none;
  padding: 23px 88px;
  width: 340px;
}
.footer {
  background-color: #164D7A;
  padding-top: 63px;
  padding-bottom: 67px;
}
.conf {
  color: white;
  text-align: center;
}

/*Responsive*/


/* 992px - 1200px */
@media (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.front {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.main-description {
		width: auto;
	}
	.main-img {
		display: block;
	  width: 549px;
	  margin: 72px auto 0;
	}
	.future-items {
		flex-direction: column;
	}
	.future-item {
		width: auto;
		margin-bottom: 30px;
	}
}
